<%
  expense_settings = Setting.plugin_redmine_expense
  expense_project_ids = Array(expense_settings['project_ids']).map(&:to_s)
  expense_tracker_ids = Array(expense_settings['tracker_ids']).map(&:to_s)
  expense_status_in_progress = Array(expense_settings['status_in_progress']).map(&:to_s)
  expense_status_resolved = Array(expense_settings['status_resolved']).map(&:to_s)

  expense_project_allowed = expense_project_ids.empty? || expense_project_ids.include?(issue.project_id.to_s)
  expense_tracker_allowed = expense_tracker_ids.empty? || expense_tracker_ids.include?(issue.tracker_id.to_s)
  expense_enabled = issue.persisted? && expense_project_allowed && expense_tracker_allowed &&
                    expense_status_in_progress.any? && expense_status_resolved.any?
%>
<% if expense_enabled %>
  <div id="expense-fields-root" data-issue-id="<%= issue.id %>"></div>
  <script>
    window.expenseSettings = {
      statusInProgress: <%= expense_status_in_progress.to_json.html_safe %>,
      statusResolved: <%= expense_status_resolved.to_json.html_safe %>
    };
    window.currentIssueId = <%= issue.id.to_json.html_safe %>;
  </script>
<% end %>
